.greetings{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: .5em;
  background-color: var(--main);
  color: white;
  padding: .2em;
  border-radius: .15em;
  text-align: center;
}

.streak-wrapper {
  display: flex;
  align-items: center;
}

.streaks {
  background-color: var(--main);
  padding: .5em;
  width: 100%;
  max-width: 25em;
  border-radius: .5em;
  color: white;
}

.streak-top {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 1em 0 1em;
}

.streak-top img {
  width: 3rem;
}

.login-streak h3 {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.login-streak p {
  font-weight: 800;
  font-size: 1.5rem;
}

.streak-bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: .25em;
  border-radius: .5em;
}

.day p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: .3em;
}

.streak-fill {
  background-color: rgba(255, 255, 255, 0.2);
  height: 3em;
  border-radius: .5em;
}

.filled {
  background-color: rgb(208, 230, 43);
}

.current-day {
  outline: .1em solid rgba(255, 255, 255, 0.58);
  background-color: rgba(0, 0, 0, 0.2);
}


.recents h2 {
  margin-bottom: .8em;
}

@media (min-width: 580px) {
  .home-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10em);
    gap: 1em;
    justify-content: left;
  }
}