.answers {
  display: flex;
  justify-content: center;
  gap: .5em;
  width: calc(100% - 4em);
  max-width: 50em;
  margin: 0 auto;
}

.answers button {
  flex: 1;
  border-radius: 1.25em;
  border: none;
  padding: .5em;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.answers button:hover {
  box-shadow: .1em .1em .5em .1em rgba(0, 0, 0, 0.1);
}

.next-review {
  font-weight: 500;
}

.answer-name {
  font-weight: 700;
}

.forgot {
  color: red;
}

.hard {
  color: orange;
}

.good {
  color: green;
}

.easy {
  color: blue;
}

.answers button:hover {
  border: 1px solid orange;
}